<article>
  <header class="page-header">
    <h1>Our UnPrivacy Policy</h1>
  </header>
  <p>We promise to have no respect for your privacy. No one else does, so why the fuck should we bother.</p>
</article>
