<article>
  <header class="page-header">
    <h1>Terms of Service</h1>
    <h2>you probably don't need to read this...</h2>
  </header>
  <p>All your data are belong to us. Purchase with confidence; confidence that we <em>will</em> fuck you over.</p>
</article>
